* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}

body {
    background-color: #eee;
}

#wrapper {
    width: 500px;
    height: 50%;
    overflow: hidden;
    border: 0px solid #000;
    margin: 50px auto;
    padding: 10px;
}

.main-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    padding: 40px 50px;
}

.header {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}


.email,
.password {
    width: 100%;
    margin-bottom: 5px;
    padding: 8px 12px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 3px;
}

.overlap-text {
    position: relative;
}

.overlap-text a {
    position: absolute;
    top: 8px;
    right: 10px;
    color: #003569;
    font-size: 14px;
    text-decoration: none;
    letter-spacing: -1px;
}

.checkbox {
    font-size: small;
    margin-top: 10px;
}

.btn {
    width: 70%;
    margin-top: 30px;
    margin-left: 40px;
    background-color: #3662FE;
    border: 1px solid #3662FE;
    padding: 10px 12px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}

.or
{
    display: block;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dee3e4;
    position: relative;
    margin: 20px 0;
}

.or:before
{
    content: 'або';
    width: 40px;
    height: 18px;
    position: absolute;
    top: -5px;
    right: calc(50% - 20px);
    text-align: center;
    line-height: 10px;
    color: #555
}

.login-with-fb,
.login-with-google
{
    width: 70%;
    height: 40px;
    display: block;
    margin: 15px 0 0 75px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    opacity: .95;
    border-radius:         3px;
    -moz-border-radius:    3px;
    -webkit-border-radius: 3px;
}

.login-with-fb:hover,
.login-with-google:hover
{
    opacity: 1;
}

.login-with-fb
{
    background: #527EBF
}

.login-with-google
{
    background: #DB4A37;
}

.login-with-fb .icon,
.login-with-google .icon
{
    float: left;
    font-size: 21px;
    width: 50px;
    height: 26px;
    margin: 7px;
    padding: 2px;
    text-align: center;
    border-right: 1px solid #fff;
}

.sub-content {
    width: 250px;
    height: 40%;
    margin: 10px auto;
    border: 1px solid #e6e6e6;
    padding: 20px 50px;
    background-color: #fff;
}

.s-part {
    font-family: "Poor Richard";
    text-align: center;
    font-weight: normal;
}

.s-part a {
    text-decoration: none;
    cursor: pointer;
    color: #0079E9;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: bold;
}


